.postForm{
    align-self: center;
    background-color: gray;
    border-radius: 2rem;
    width: 20rem;
    padding-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 100px;
    grid-template-rows: 70px auto; 
    row-gap: 3px;

}