.postForm{
  padding-top: 2rem;
  // background-color: black;
  border-radius: 3px;
  width: fit-content;
  height: auto;
  margin: auto;
  margin-top: .5rem;
  // margin-bottom: 1.5rem;
  z-index: +1;
  padding-bottom: 2px;
  padding-left: 50px;
  padding-right: 50px;

  & input{
   width: 20rem;
  }

  & textarea{
      margin-top: 6px;
      min-width: 20rem;
      max-width: 20rem;
      min-height: 5rem;
      max-height: 20rem;
  }
}

.postButton{
    display: flex;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Bebas Neue';
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 12px 5px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
   margin-left: 18rem;
  margin-top: 2rem;
   z-index: 1;
}
.postButton:after {
  content: "";
  background-color: #FFE54C;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.postButton:hover:after {
  top: 0px;
  left: 0px;
}