.faqcontainer{
    text-align: center;
    background-color: rgb(66, 95, 84);
    opacity: 87%;
    height: 1000px;
  }
  
  .faqtitle{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color:yellow;
      margin-bottom: 3rem;
      font-size: 3rem;
  }
  
  
  h3{
    margin-top: 10px;
   
  }

.btn{
  background-color:white;
  opacity: 93%;
}


 .faqquestion{
  color: yellow;
  
 }

 