@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Lato');

.newsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(128,128,128, .9);
    margin-top: 5rem;
    padding: 2rem;
    margin-left: 5rem;
    width: 90%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    width: fit-content;
}

.NewLoading{
    font-family: Bebas Neue;
    padding-top: 3rem;
}

.newsImg{
    opacity: 100%;
    width: 50rem;
    height: auto;
}

.newsImg:hover{
    background-color: #FFE54C;
    padding: 1rem;
}

.newsOne{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2em 2em 2em 2em;
    margin: 2em 2em 2em 2em;
    line-height: 1.618em;
    background: #ECF0F1;
    opacity: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    flex-wrap: wrap;
    width: 70rem;
}

.newsTwo{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2em 2em 2em 2em;
    margin: 2em 2em 2em 2em;
    line-height: 1.618em;
    background: #ECF0F1;
    opacity: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    flex-wrap: wrap;
    width: 70rem;
}

.newsThree{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2em 2em 2em 2em;
    margin: 2em 2em 2em 2em;
    line-height: 1.618em;
    background: #ECF0F1;
    opacity: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    flex-wrap: wrap;
    width: 70rem;
}

.newsFour{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2em 2em 2em 2em;
    margin: 2em 2em 2em 2em;
    line-height: 1.618em;
    background: #ECF0F1;
    opacity: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    flex-wrap: wrap;
    width: 70rem;
}

.newsTitle{
    font-family: Bebas Neue;
    color: #000000;
}

.newsTitle:hover{
    color: white;
    background-color: #FFE54C;
    padding: 2px;
    border-radius: 5px;
}

.newsDescription{
    font-family: Lato;
    font-size: 14px;
}

.newsTagline{
    font-family: Bebas Neue;
    font-size: 13px;
}