@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Poppins:wght@300&display=swap');

nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    // background: maroon;
    // padding: 0.7rem 0;
    // position: fixed;
    // top: 0;
    // z-index: 10; 
    // padding-right: 2rem;
}

.each{
    font-family: "Bebas Neue";
    padding-top: 1rem;
    list-style-type: none;
    font-size:x-large;
    color: white;
    margin: 1rem;
    background-image: linear-gradient(
        to right,
        #FFE54C,
        #FFE54C 50%,
        aliceblue 50%
    );

    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
       
}

.each:after{
    content: '';
    background: #FFE54C;
    display: flex;
    //position: absolute;
    margin-top: -6px;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
}

.each:hover{
    background-position: 0;
}

.each:hover::after{
   width: 100%;
}

.links{
    display: flex;
    flex-wrap: wrap;
}


.Name {
    font-family: "Lobster";
    color: aliceblue;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 60px;
    background-image: radial-gradient(
        circle,
        #FFE54C 0%,
        #FFE54C 10%,
        aliceblue 35%,
        aliceblue 100%
    );
    background-position: 140%;
    background-size: 280%;
    transition: all 0.75s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Name:hover{
    background-position: 45%;
}