@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Poppins:wght@300&display=swap');

nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.each{
    font-family: "Bebas Neue";
    padding-top: 1rem;
    list-style-type: none;
    font-size:x-large;
    color: white;
    margin: 1rem;
    background-image: linear-gradient(
        to right,
        #FFE54C,
        #FFE54C 50%,
        aliceblue 50%
    );

    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
       
}

.each:after{
    content: '';
    background: #FFE54C;
    display: flex;
    margin-top: -6px;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
}

.each:hover{
    background-position: 0;
}

.each:hover::after{
   width: 100%;
}

.links{
    display: flex;
    flex-wrap: wrap;
}


.Name {
    font-family: "Lobster";
    color: aliceblue;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 60px;
    transition: all 0.5s;
}

.Name:hover{
    color: #fef6c7;
    text-shadow: 1px 0 1px #FFE54C, 0 1px 1px #FFE54C, -1px 0 1px #FFE54C, 0 -1px 1px #FFE54C, 0 0 5px #FFE54C;
}