img{
    height: 400px;
    align-items: center;
}
 
.newsContainer{
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ECF0F1;
    text-align: center;
    padding-top: 3rem;
    max-height: 10000px;
    opacity: 90%;
}

