.allPostsContainer{
    padding-top: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ECF0F1;
    text-align: center;
    height: 900px;
    max-height: 1000px;
    opacity: 89%;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
}

.postHeader{
    padding-top: 1rem;
}

body {
    padding-top: 5rem;
    align-items: center;
    text-align: center;
}

.allPosts {
    border-style: none none solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #010101;
    font-weight: 1000;
    font-size: 1.5rem;
    font-family: Bebas-Neue;
    border-width: thin;
}

