@import url('https://fonts.googleapis.com/css2?family=Bebas-Neue');
.container{

    padding-top: 1.5rem;
    font-family:'Bebas Neue';

    // font-size: 100;
    // justify-content: center;

}
.title{
  font-size: xx-large;
}

.resources {
display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 50px 50px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
   margin: 2rem;
  
}
.resources:after {
  content: "";
  background-color: #FFE54C;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.resources:hover:after {
  top: 0px;
  left: 0px;
}
