@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Bebas-Neue');


:root {
    --color-dark:#283747;
    --color-light: #E5E7E9;
    --color-lightbox: #b7e9f5;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    color: var(--color-dark);
    background:var(--color-light);
    overflow-x: hidden;
    background-image: url("../../Assets/Images/clay-banks-OvGIFsexb-8-unsplash.jpg");
    background-size: 1920px;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

main {
    position: relative;
    top: 5.4rem;
}


.post {
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ECF0F1;
    text-align: center;
    height: 900px;
    max-height: 1000px;
    opacity: 90%;
}

.news {
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ECF0F1;
    text-align: center;
    overflow-y: scroll;
    max-height: 700px;
    overflow-x: hidden;
    opacity: 93%;
}

.news img {
    max-width: 26rem;
    opacity: 100%;
}

.buttons {
      
      display: flex;
      justify-content: center;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 25px 50px 25px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
       margin: 2rem;
       color: black;
    }
    .buttons:after {
      content: "";
      background-color: #FFE54C;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
    }
    .buttons:hover:after {
      top: 0px;
      left: 0px;
    }
    
    .title{
        font-family: "Bebas Neue";
    }