.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.emailus{
    padding-top: 25px;
    background-color: gray;
    justify-content: center;
    width: 40%;
    min-width: 450px;
    border-radius: 2rem;
    opacity: 90%;
    margin: 5px;
}

.email{
    text-align: center;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
}

.email h2{
    margin-bottom: 3px;
}

.email input{
    margin-bottom: 3px;
}

.emailButton{
    font-family: 'Bebas Neue';
    margin-left: 50%;
    font-size: 16px;
    outline: 0;
    padding: 5px 20px;
}

.callus{
    padding-top: 45px;
    padding-bottom: 35px;
    background-color: gray;
    justify-content: center;
    width: 20%;
    border-radius: 2em;
    opacity: 90%;
    min-width: 200px;
}

.phoneButton{
    font-family: 'Bebas Neue';
    font-size: 16px;
    padding: 5px 20px;
}

.media{
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: gray;
    width: 20%;
    min-width: 228px;
    border-radius: 2em;
    opacity: 90%;
}

.mediaRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mediaButton{
    width: 50px;
    height: 40px;
    margin: 20px;
}

.bird{
    font-size: large;
    font-weight: bold;
    margin: 0 4px 8px 6px;
    padding: 7px 0 2px 0;
}

.book{
    color: blue;
    font-weight: 550;
    font-size: x-large;
}

.tube{
    background-color: red;
    font-size: large;
    font-weight: bold;
    color: white;
    margin: 1px 10px 1px 10px;
    padding: 2px 0 1px 4px;
    border-radius: 4px;
}

.gram{
    font-size: xx-large;
    color: darkorange;
}