@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.contactTitle{
    font-family: Bebas Neue;
    font-size: 40px;
    padding-bottom: 10px;
}

.phoneButton{
    justify-content: center;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Bebas Neue';

    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    // padding: 10px 12px 5px;
    padding-top: 3.5px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.emailButton, .mediaButton {
    justify-content: center;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Bebas Neue';

    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    // padding: 10px 12px 5px;
    padding-top: 3.5px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }

  .phoneButton:after {
    content: "";
    background-color: #FFE54C;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }


.emailButton:after, .mediaButton:after {
    content: "";
    background-color: #FFE54C;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .phoneButton:hover:after{
    top:  0px;
    left: 0px;
  }

.emailButton:hover:after, .mediaButton:hover:after {
    top:  0px;
    left: 0px;
  }



.emailus{
    padding-top: 25px;
    background-color: gray;
    width: 40%;
    min-width: 450px;
    border-radius: 2rem;
    opacity: 90%;
    margin: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
}

.email{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.email h2{
    margin-bottom: 3px;
    
}

.email input{
    margin-top: 2rem;
    margin-bottom: 5px;
    font-size: larger;
    max-width: 90%;
    width: 30.6rem;
}

.email textarea{
    font-size: larger;
    font-weight: bold;
    max-width: 90%;
    min-width: 30.6rem;
}

.emailButton{
    font-family: 'Bebas Neue';
    margin-left: 50%;
    font-size: 20px;
    outline: 0;
    padding: 5px 20px;
}

.callus{
    padding-top: 45px;
    padding-bottom: 35px;
    background-color: gray;
    justify-content: center;
    width: 20%;
    border-radius: 2em;
    opacity: 90%;
    min-width: 225px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);


}

.callus p{
    letter-spacing: 0.5px;
    font-size: 20px;
    font-style: italic;
}

.phoneButton{
    font-family: 'Bebas Neue';
    font-size: 22px;
    padding: 5px 20px;
    margin-top: 2em;
    min-width: 166px;
}

.media{
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: gray;
    width: 20%;
    min-width: 228px;
    border-radius: 2em;
    opacity: 90%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0,0,0,0);
}

.mediaRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5em;
    padding: 0 1.5em;
}

.mediaButton{
    width: 50px;
    height: 40px;
    margin: 20px;
}

.bird{
    font-size: xx-large;
    font-weight: bold;

}

.book{
    font-weight: 550;
    font-size: x-large;
}

.tube{
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    margin-left: 4px;
}

.gram{
    font-size: xx-large;
    color: black;
    margin-top: 2px;
}