.emailus{
    background-color: gray;
    position:relative;
    justify-content: center;
    justify-items: center;
    width: 50%;
    margin-left: 15%;
    border-radius: 2rem;
    opacity: 90%;
    
}
.email{
    text-align: center;
    margin-top: 95px;
    margin-left: 25%;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    justify-content: center;
    justify-items: center;

}
.emailButton{
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Bebas Neue';
    margin-left: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px; 
    width: 70px;
    outline: 0;
    padding: 5px;
}