
.aboutScreen{
    background-color: yellow;
   justify-content: center;
   border-radius: 10px;
   
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: Black;
  }
   
   h2
    {
      background-color:gray;
       color: yellow ;
       font-size: 30px;
       font-weight: bold;
       text-align: center;
       text-shadow:gray;
       display:grid;
   }

   

   p {
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 20px;
       color:black;
       background-color:yellow;
       height: 150px;
       overflow-y: scroll;
       scrollbar-width: thin;
   }
   
   img {
       height:250px;
       width: 250px;
       margin: auto;
       display: block;
   }
   .section{
       max-width: 100%;
       justify-content: center;
       height: auto;
       margin-top: 11px;
   }
   
   .section1{
       max-width:40%;
       height:auto;
       background-color:rgba($color: #ECF0F1, $alpha: .9);
       border-radius: 20px;
       float: left;
       padding: 60px;
       justify-items: center;
       opacity: 97%;
       
   }
   
   .section2{
       max-width:40%;
       height:auto;
       background-color: rgba($color: #ECF0F1, $alpha: .9);
       border-radius: 20px;
       float: right;
       padding: 60px;
       opacity: 97%;
       justify-items: center;

   }
}
